{% extends 'base.html.twig' %}

{% block title %}Hello OccasionController!{% endblock %}

{% block body %}

    <section class="services_area">
        <div class="container">



            <div class="left">
                <div class="bouquets">
                    <img src="{{ asset('build/images/Fleur1.png') }}" alt="">
                    <h2>L’HARMONIE <br> COMPOSITION</h2>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit…dolor sit amet, consectetu</p>
                    <a href="#" class="button">AJOUTER AU PANIER</a>
                </div>
            </div>

            <div class="center">
                <div class="bouquets">
                    <img src="{{ asset('build/images/Fleur1.png') }}" alt="">
                    <h2>L’HARMONIE <br> COMPOSITION</h2>
                    <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
                        brought fish forth</p>
                    <a href="#" class="button">AJOUTER AU PANIER</a>
                </div>
            </div>

            <div class="right">
                    <div class="bouquets">
                        <img src="{{ asset('build/images/Fleur1.png') }}" alt="">
                        <h2>L’HARMONIE <br> COMPOSITION</h2>
                        <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
                            brought fish forth</p>
                        <a href="#" class="button">AJOUTER AU PANIER</a>



                    </div>

            </div>
        </div>

    </section>
</div>


{% endblock %}
