
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}


    <div class="harmonie">
        <div class="taille">
        <h2>l'Harmonie</br>composition</h2>
        <p>Neque porro quisquam est qui dolorem </br> ipsum quia dolor sit amet,</br> consectetur, adipisci velit…</p>

        <a href="#" class="button"><span class="user">creer mon bouquet</span></a>
        </div>
    </div>



{% endblock %}
