/*-------
PAGE D ACCCEUIL
 */



body {

    font-family: 'Nunito', sans-serif;
    margin: 0;

}

div.grid {
    margin-left: 7%;
    margin-right: 7%;
    align-content: center;
}

h1 {
    color: yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    font-family: 'Nunito', sans-serif;
    display: block;
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 11px 5px 11px;
    text-decoration: none;
    border-bottom: solid 4px #fff;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border-bottom: solid 4px #D69F9F;
    transition:  0.4s linear;

}


div.harmonie{

    height: 700px;

    background-image:url("../images/fond.png") ;

    background-size: cover;
    background-size: 110%;
    background-position: center;

    background-repeat: no-repeat;


}

div.taille{
    padding-top: 10%;
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    text-transform: uppercase;
    padding: 0px 0px 11px 0px;


}

p {
    font-family: 'Nunito', sans-serif;
    color: #707070;
    size: 14px;
    margin-bottom: 50px;



}
a.button {
    font-family: 'Nunito', sans-serif;
    background-color: #D69F9F;
    border-radius: 30px;


    padding: 15px 20px 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

a.button:hover {
    transition: 0.6s;

    background-color : #fff;
    border: 4px solid  #D69F9F;
    color: #D69F9F;

}


/*-------
CONNEXION
 */


/*-------
CREER MON BOUQUET
 */

/* --------INDISPENSABLES--------- */

/* BOITES */

/*---------------------------------------------*/


/*---------------------------------------------*/


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

h1{
    color: #d69f9f;
    padding-right: 50px;
}

p.titre {
    color: #8b8b8b;
    padding-right:50px;
}

div.range {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div.range .range-from,
.range .range-to {
    margin: 0 5px;
}

div.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-container img {
    margin: 0 50px;
}


select {
    display : flex;

}

div.form-container p {
    display: inline-block;

    align-items: center;
    justify-content: left;
}





/*
OCCCASION
 */

div.container{

}

div.left{
    display: inline-block;

    width: 15%;
}


div.center{
    display: inline-block;
    width: 15%;
    text-align: center;

}


div.right{
    display: inline-block;

    width: 15%;
}

div.dr{
    display: inline-block;

    width: 15%;
}

/*------------ Image de fond ---------*/

div.inscription{

    height: 700px;

    background-image:url("../image/Groupe 2.png");

    background-size: cover;
    background-size: 100%;
    background-position: center;

    background-repeat: no-repeat;



}

div.taille2{
    padding-top: 10%;
}

/*------------- formulaire ------------*/

form{

}

.inscription h1 {
    font-family: 'Nunito', sans-serif;
    color: #D69F9F;
    text-align: right;
}

.inscription {
    color: #ffffff;
    text-align: center;
    justify-content: center;

}

.formulaire {
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    margin: 255px;

}

.btn {
    font-family: 'Nunito', sans-serif;
    color: #454545;
    text-align: center;
    padding: 5px 11px 5px 11px;
    text-decoration: none;
    border-bottom: solid 4px #fff;
    margin: 30px;

}

.formulaire div {
    margin-bottom: 10px;
}

.formulaire div label {
    margin-right: 10px;
}

.formulaire div input {
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.5);
}


/*----
PAGE ?
*/


